.nav-glyphish .ui-btn .ui-btn-inner {
  padding-top: 40px !important;
}
.nav-glyphish .ui-btn .ui-icon {
  width: 36px!important;
  height: 36px!important;
  margin-left: -15px !important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: none !important;
  border-radius: none !important;
}
#maintenance .ui-icon {background: url(images/maintenance36.png) 50% 50% no-repeat; background-size: 36px 36px;}
#trouble .ui-icon {background: url(images/troubleshooting36.png) 50% 50% no-repeat; background-size: 36px 36px;}
#sitesetup .ui-icon {background: url(images/sitesetup36.png) 50% 50% no-repeat; background-size: 36px 36px;}

/* Custom icons */
.ui-icon-sitesetup {
  background-image: url("images/sitesetup18.png");
}
.ui-icon-trouble {
  background-image: url("images/troubleshooting18.png");
}
.ui-icon-maintenance {
  background-image: url("images/maintenance18.png");
}
.ui-icon-history {
  background-image: url("images/history.png");
}
/* Custom highres icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-icon-sitesetup {
    background-image: url("images/sitesetup36.png");
    background-size: 18px 18px;
  }
  .ui-icon-trouble {
    background-image: url("images/troubleshooting36.png");
    background-size: 18px 18px;
  }
  .ui-icon-maintenance {
    background-image: url("images/maintenance36.png");
    background-size: 18px 18px;
  }
  .ui-icon-history {
  background-image: url("images/time36w.png");
  }

}

.ui-collapsible-set {
   margin: -1em 0;
}

/***************************************
 *  Item Box
 ****************************************/
.item {
  padding: 1em;
  margin: 0em 0em 1em;
  background :#fff;
  align: center;
  /*font-size: 90%;*/
  filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee');
  background-image : -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background-image : -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image :    -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image :     -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image :      -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image :         linear-gradient(top, #ffffff, #eeeeee);
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
  border-radius: .6em;
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
}


.ui-btn-active { 
  color: #333333 !important; 
  background: none !important; 
  background-color: #FFC82E !important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: none !important;
  border-radius: none !important;
  /*Edited shadow by Petr*/
  text-shadow:0 1px 1px #FFC82E;
}

.ui-field-contain div.ui-slider-switch { width: 11em; }
/*.longer-switch .ui-slider-switch { width: 15em } */ 

/* upravy by Petr */

.ui-title {
  margin:.6em 10% .8em;     /*10% by nemelo zasahovat do backbuttonu*/     
}

[data-role="fieldcontain"] label{
  font-size:90%;
  width:80%; 
}

.ui-navbar a.ui-btn{
  font-weight:normal;                   
} 